{% extends 'base.html' %}
{% block content %} {{ post.title }}{ % endblock %}

{ % block content % }

    <h1>{{ post title }}</h1>
    <p>{{ post content }}</p>
    <p><i> By {{post.user.fulll.name }}
        on {{post.friendly_date}}
    </i></p>

<form>
    <button class="btn btn-outline-primary" formmethod="get" formaction="/templates/users/{{ post.user_id}}">Cancel</button>
    <button class="btn btn-primary" formmethod="get" formaction="/templates/post/{{ post_id }}/edit"> Edit</button>
    <button class="btn btn-danger" formmethod="post" formaction="/templates/post/{{ post_id }}/delete">Delete</button>
</form>

{% endblock %} 